@model Doroos

@{
    ViewData["Title"] = "حذف درس";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-right text-danger">مطمئنی میخوای که  @Model.Name را حذف کنی؟</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal float-right text-right">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @if (Model.Status == true)
            {
                @Html.DisplayName("فعال");
            }
            else
            {
                @Html.DisplayName("غیر فعال");
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DarsTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DarsTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ostad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ostad.Name)
        </dd>
    </dl>
    
    <div class="row col-md-12 text-right float-right" style="direction: rtl">
        <form asp-action="Delete">
            <input type="hidden" asp-for="DoroosId" />
            <a asp-action="Index">برگشت به لیست دروس</a> |
            <input type="submit" value="حذف" class="btn btn-danger" />

        </form>
    </div>
    
</div>
